/*------------------------GENERAL----------*/

*{
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

}
ol, ul {
    list-style: none;
}

ul {
    display: flex;
    padding-left: 20px;
}

ul li {
    font-family: 'Roboto', sans-serif;
}
head
{
    height:0px;
}

h1{
    font-family: Lato;
}

/*---------------------------HEADER------------------*/
header{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 0;
    padding: 0;
    //margin-bottom: 5%;
  /*  -webkit-box-shadow: 4px 6px 5px 0px rgba(247,247,247,1);
    -moz-box-shadow: 4px 6px 5px 0px rgba(247,247,247,1);
    box-shadow: 4px 6px 5px 0px rgba(247,247,247,1);

   */

}



nav{
    padding-top: 40px;
    //border-bottom: solid 0.25px black;
    -webkit-box-shadow: 0px 2px 5px 3px rgba(247,247,247,1);
    -moz-box-shadow: 0px 2px 5px 3px rgba(247,247,247,1);
    box-shadow: 0px 2px 5px 3px rgba(247,247,247,1);
}

div.text-content{
    padding-bottom: 40px;
}
div.bar{
    position: absolute;
    display: inline-flex;
    padding: 0 8px;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
}

div.bar::after{
    width: 130px;
    height: 1px;
    background-color: rgb(238 92 54);
    content: "";
}

div.text{
    padding-left: 120px;
}

h1.hello{
    font-size: 80px;
    padding-top: 80px;
}


span.logo{
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

div.menu{
    width: 25vw;

}

div.menu p{
    text-transform: uppercase;
    font-size: 13px;
    color: gray;
}

div.text p{
    color: gray;
}

img.illustration{
    width: 40%;
}



/*____________________________________________Section video_________________________*/



section.contenu{
    margin: auto;
    max-width: 1336px;
    background-color: white;
    height: 80vh;
    margin-bottom: 185px;
    /*-webkit-box-shadow: 0px 2px 5px 3px rgba(247,247,247,1);
    -moz-box-shadow: 0px 2px 5px 3px rgba(247,247,247,1);
    box-shadow: 0px 2px 5px 3px rgba(247,247,247,1);

     */
}


/*_______________________________________________Div Video______________________________*/

video{
    width: 100%;
    height: 100%;
}

video:focus{
    outline: none;
}

div.text, div.video {
    width: 50%;
}


button.btn{
    background-color: black;
    border-color: transparent;
    color: white;

    margin-top: 5%;
}

/*--------------------------------------DIV FORM--------------------------*/
div.form{
    text-align: center;
    padding-top: 18vh;
    margin-bottom: 10vh;
}

form{
    padding: 12vh 0 0 7vw;
}
form h3{
    margin-bottom: 40px;
}

form p{
    font-style: italic;
    font-size: 14px;
    width: 72%;
    align-self: center;
    margin-bottom: 40px;
}

form input{
    border-style: none none solid;
    border-color: black;
    width: 70%;
    align-self: center;
}

input:focus{
    outline: none;
    background-color:rgba(247,247,247,1);
}

form button.btn.btn-dark{
    width: 30%;
    align-self: center;
    margin-bottom: 18px;
}


/*_____________________DIV VOTE____________________*/
div.vote{
    align-items: center;
}

span.reference{
    font-size: 10px;
    text-decoration: underline;
}

#bar{
    -webkit-appearance: none;
}

#bar::-webkit-progress-bar {
    color: black;
    background-color: orangered;

}

div.vote-buttons{
    width: 25%;
}

button.lame{
    background-color: transparent;
    border-color: black;
    color: black;
}

/*___________________________FOOTER_________________*/
footer{
    height: 30px;
}

footer span{
    font-size: 12px;
    color: gray;
}

